@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-pink1: rgb(186, 50, 134);
        --color-pink1: 186 50 134;
        --color-pink2: rgb(149, 43, 79);
        --color-pink2: 149 43 79;
        --color-pink3: rgb(212, 45, 89);
        --color-pink3: 212 45 89;

        --color-green1: rgb(52, 73, 29);
        --color-green1: 52 73 29;
        --color-green2: rgb(88, 122, 48);
        --color-green2: 88 122 48;
        --color-green3: rgb(155, 160, 96);
        --color-green3: 155 160 96;

        --color-purple1: rgb(128, 65, 146);
        --color-purple1: 128 65 146;
        --color-purple2: rgb(96, 72, 168);
        --color-purple2: 96 72 168;
        --color-purple3: rgb(187, 150, 217);
        --color-purple3: 187 150 217;
    }
}



/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}